body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: white;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*-------------Header------------------*/

.header-logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.header-logo-color {
    color: #2e2f42;
}

.header-menu-list,
.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link {
    color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
    color: #434455;
}

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

/*----------------------------------*/

/*-----------Section Title-----------*/

.headline {
    background-color: #2e2f42;
}

.headline-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    color: #fff;
}

.headline-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
}

.headline-btn:hover,
.headline-btn:focus {
    background-color: #404bbf;
    cursor: pointer;
}

/*------------------------------------------*/

/*--------------------Content---------------*/
.content {}

.content-title {}

.content-menu-list {}

.content-menu-item {}

.content-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.content-menu-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.visually-hidden {
    visibility: hidden;
}

/*------------------------------------------*/

/*-----------------Our Team----------------*/

.team {
    background: #f4f4fd;
    text-transform: capitalize;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.team-menu-list {}

.team-menu-item {
    background-color: #FFFFFF
}

.team-image {
    background-color: #fff
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-menu-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/*------------------------------------------*/

/*---------------Our Portfol----------------*/

.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-image {}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*----------------------------------------*/

/*---------------Futer--------------------*/

.futer {
    background-color: #2e2f42;
}

.futer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.futer-logo-color {
    color: #f4f4fd;
}

.futer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/*--------------------------*/